<h1 class="question-list-headline">Fragenliste</h1>
<div class="question-list-headline-button-card">
    <a class="btn question-list-headline-button"
        [routerLink]="['/topics', topicId, 'catalogs', catalogId, 'list', 'details', 1]">Mit erster Frage starten</a>
    <a class="btn question-list-headline-button" [routerLink]="['/topics', topicId, 'catalogs']">Zurück zur
        Katalogauswahl</a>
</div>

@for(question of questions(); track question.id){
<div class="question-list-card">

    <div class="question-list-question-card">
        <div class="question-list-question-number">#{{question.id}}</div>
        <div class="question-list-question">{{question.questionText}}</div>
    </div>
    @if (question.type !== "fi"){
    @for (answer of question.answers; track answer.id){
    <div class="question-list-answer-card" [ngClass]="answer.state">
        <div class="question-list-answer-number">{{answer.id}}</div>
        <div class="question-list-answer">{{answer.answerText}}</div>
    </div>
    }
}
    @else {
        @if(isInputAnswersShowed){
            @for (answer of question.answers; track answer.id){
                <div class="question-list-answer">{{answer.answerText}}</div>
        }
    }
    }
    <div class="question-list-card-buttons">
        <a class="btn list-card-button"
            [routerLink]="['/topics', topicId, 'catalogs', catalogId, 'list', 'details', question.id]">
            Öffnen
        </a>

        <a class="btn list-card-button" (click)="showCorrectAnswer(question.id, question.type)">
            Lösung anzeigen
        </a>
    </div>
</div>

<a href="#top" class="question-list-to-top">&uarr;</a>
}