<h1 class="question-list-headline">LPIC ### Fragenliste</h1>
<div class="question-list-headline-button-card">
<a class="btn question-list-headline-button" [routerLink]="['/topics', topicId, 'catalogs', catalogId, 'list', 'details', 1]">Mit erster Frage starten</a>
<a class="btn question-list-headline-button" [routerLink]="['/topics', topicId, 'catalogs']">Zurück zur Katalogauswahl</a>
</div>

@for(question of questions(); track question.id){
<div class="question-list-card">
    <div class="question-list-question-card">
        <div class="question-list-question-number"># {{question.id}}</div>
        <div class="question-list-question">{{question.questionText}}</div>
    </div>
    @for (answer of question.answers; track answer.id){
        @if (question.type !== "fi" || answer.isShowed){
        <div class="question-list-answer-card" [style.backgroundColor]="answer.isCorrect && answer.isShowed ? '#C8E2B0' : '#e7ede1'" 
                                                [style.borderColor]="answer.isCorrect && answer.isShowed ? '#545454' : '#D8DEC9'">
            <div class="question-list-answer-number">{{answer.id}}</div>
            <div class="question-list-answer">{{answer.answerText}}</div>
        </div>
        }
    }
    <div class="question-list-card-buttons">
        <a class="btn list-card-button" [routerLink]="['/topics', topicId, 'catalogs', catalogId, 'list', 'details', question.id]">Öffnen</a>
        
        <a class="btn list-card-button" (click)="showCorrectAnswer(question.id)">Lösung anzeigen</a>

    </div>
</div>
}