.topic-list {
    text-align: center;
    color: #1F241C;
    font-weight: 500;
}

.topic-list-title {
    font-size: 3rem;
    margin-top: 2rem;
    color: #1f241c;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.topic-list-bild {
    display: block;
    margin: auto;
    width: 320px;
}

.topic-list-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-top: 25px;
    margin-bottom: 40px;
    padding: 30px 20px;
    background-color: #ffffff;
    border: solid 1px #d8dec9;
    border-radius: 12px;
    box-shadow: 8px 8px 24px rgba(46, 59, 36, 0.12);
}

.topic-list-card {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    gap: 20px;
    align-items: center;
    margin: 5px 10px;
    padding: 16px 20px;
    background-color: #e7ede1;
    border: solid 1px #d8dec9;
    border-radius: 10px;
    box-shadow: 4px 4px 14px rgba(46, 59, 36, 0.12);

}

.topic-list-card:hover {
    background-color: #b0d888;
    border-color: #1f241c;
    box-shadow: 8px 8px 12px rgba(46, 59, 36, 0.42);
    scale: 1.01;
}

.topic-list-card-title {
    flex: 0 0 120px;
    text-align: left;

    color: #1f241c;
    font-size: 1.8em;
    font-weight: 650;
}

.topic-list-card-description {
    flex: 1;
    text-align: left;
    color: #1f241c;
    font-weight: 500;
}

.topic-list-button {
    flex: 0 0 auto;
    background-color: #4f6547;
    border-color: #4f6547;

    color: #ffffff;
    font-weight: 600;
    border-radius: 8px;
}

.topic-list-button:hover {
    background-color: #43563c;
    border-color: #43563c;
    color: #ffffff;
}

.topic-list-keine-daten {
    color: red;
    font-weight: 600;
    font-size: 1.2rem;
}