.header {
    background-color: #252525;
    padding: 1rem;
    border-bottom: 3px solid #04ddb2;
}

.header-link {
    text-decoration: none;
    color: #ffffff;
}

:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-body {
    background-color: #f5f7fb;
    color: #242424;
    flex: 1;
}

.app-body {
    background-color: whitesmoke;
    margin-left: 400px;
    margin-right: 400px;
}

