.header {
    background-color: #2e3b24;

    border-bottom: 4px solid #1f241c;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-self: start;
}

.logo {
    margin-left: 10px;
    height: 42px;
    width: auto;

}

.logo:hover {
    scale: 1.1;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 550;
    margin-left: 5px;
}

.header-link:hover {
    scale: 1.1;
}

.start {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 650;
    letter-spacing: 0.36rem;
    justify-self: center;
    padding: 4px 12px;
    border: 1px solid #000;
    border-radius: 8px;
    margin: 4px 15px;

}

.start:hover {
    scale: 1.1;
    background-color: #4e643d;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.42);
}

:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-body {
    background-color: #f6f4ec;
    color: #1f241c;
    flex: 1;
    padding-top: 20px;
}

.app-body {
    background-color: #f6f4ec;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.page-footer {
    background-color: #f6f4ec;
    color: #999999;
    text-align: center;
    border-top: 1px solid #bbbbbb;
    padding: 10px;
}