.header {
    background-color: #2e3b24;
    padding: 1rem;
    border-bottom: 4px solid #1f241c;
}

.header-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 550;
    margin-left: 20px;

}

:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-body {
    background-color: #f6f4ec;
    color: #1f241c;
    flex: 1;
}

.app-body {
    background-color: #f6f4ec;
    margin-left: 400px;
    margin-right: 400px;
}

