<h1 class="catalog-list catalog-list-title">Katalog-Auswahl</h1>
<div class="catalog-list-back-button-container mt-5">
    <a class="btn catalog-list-back-button" [routerLink]="['/']">Zurück zur Themenauswahl</a>
</div>
<p class="catalog-list mt-4">Wählen Sie einen Katalog aus und lassen Sie sich die entsprechende Fragenliste anzeigen</p>
<section class="catalog-list-box">
    @if (hasError()) {
        <div class="catalog-list-card">
            Daten konnten nicht geladen werden!
        </div>
    } @else {
    @for (catalog of catalogs(); track catalog.id) {
    <div class="catalog-list-card" [routerLink]="['/topics', topicId, 'catalogs', catalog.id, 'list']">
        <p class="catalog-list-card-title">{{catalog.title}}</p>
        <p>{{catalog.description}}</p>
    </div>
    }
}
</section>