.catalog-list {
    text-align: center;
    
    
}

.catalog-list-title {
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    
}

.catalog-list-box {
    display: flex;
    text-align: center;
    gap: 20px;
    margin: 30px 20px;
    padding: 20px 20px;
background-color: antiquewhite;
border: solid 1px;
border-color: rgb(44, 44, 44);
}

.catalog-list-card {
    flex: 1;
    align-items: center;
    margin: 10px 10px;
    padding: 10px 10px;
background-color:bisque;
border: solid 1px;
border-color: rgb(44, 44, 44);
box-shadow: 3px 5px 10px hsla(0,0%,0%,0.5);
}

.catalog-list-button {
    align-items: center;
}